<% include header %>
<h1 class="page-title"> <%= title %></h1>
<div class="row">
  <div class="col col-lg-4">
    <p>Name: <%= results.user.name %></p>
    <p>Lastname: <%= results.user.lastname %></p>
    <p>Birthday: <%= results.user.birthday %></p>
    <p>Balance: <%= results.user.balance %></p>
  </div>
</div>
</body>
<% include footer %>
