<% include header %>
<h1 class="page-title"> <%= title %></h1>
<div class="row">
  <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
  <% } %>
  <div class="col col-lg-4">
    <p>Name: <%= user.firstName %></p>
    <p>Lastname: <%= user.lastName %></p>
    <p>Gender: <%= user.gender %></p>
    <p>Email: <%= user.email %></p>
    <p>Age: <%= user.age %></p>
    <p>Birthday: <%= user.birthday %></p>
    <p>Course: <%= user.course %></p>
    <p>Semester Joined: <%= user.semesterJoined %></p>
    <p>Last Modification: <%= user.lastModified %></p>
    <p>Account Created: <%= user.accountCreated %></p>
    <p>Birthday: <%= user.birthday %></p>
    <p>Balance: <%= user.password %></p>
  </div>
</div>
</body>
<% include footer %>
